/* TODO: remove external dependency */
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', sans-serif;
}

.grid{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 3fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-rows: 2fr 1fr 2fr; */
  /* grid-template-rows: 100px 200px 100px; */
  padding: 1em;
}   

.grid > div, .grid2 > div, .grid3 > div{
  background: #f4f0ec; /* isabelline */
  padding: 1em;
}

.grid > div:nth-child(odd), .grid2 > div:nth-child(odd){
  background:#ddd;
}

.grid2{
  display:grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid3{
  display:grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  padding-top: 4em;
}

.grid6{
  display:grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
}

.box1{
  /* align-self:start; */
  grid-column:1/3;
}

.bucket{
  /* background:#3064a0; */
  background: #f4f0ec;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #000;
  color: azure;
  top: 0; /* Position the navbar at the top of the page */
  height: 50px;
  width: 100%; /* Full width */
  padding-top: 25px;
}
.navbar a{
  color: azure;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}
.navbar a:hover{
  text-decoration: underline;
}
.main{
  margin-top: 65px;
}